<html>
  <head>
    <title>Sinatra 3N + 1 Graph</title>
    <script src="chartkick.js"></script>
    <script src="chart.js"></script>
    <script src="chartjs-adapter-date-fns.bundle.js"></script>
    <script src="loader.js"></script>
    <script src="highcharts.js"></script>
  </head>
  <body>
    <%= yield %>
  </body>
</html>
